.container {
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  width: 800px;
  gap: .5em;
}
.row {
  display: flex;
  justify-content: space-between;
}

.championIconContainer {
  border-radius: 100%;
  border: 1px solid grey;
  height: 40px;
  width: 40px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.championIcon {
  height: 120%;
  width: 120%;
  object-fit: cover;
}

.winLossWidget{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.gamePillWrapper {
  overflow: hidden;
  position: relative;
  width: 150px;
  height: 70%;
  border-radius: .2em;
}
.gameLossPill{
  position: absolute;
  background-color: rgb(218, 80, 80);
  height: 100%;
  width: 100%;
}
.gameWinPill{
  position: absolute;
  background-color: rgb(12, 154, 179);
  z-index: 1;
  height: 100%;
  width: 50%;
}
.pillText{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  font-size: .7em;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 .2em;
}

.row button{
  border: 1px solid white;
  border-radius: .25em;
  padding: .1em .5em;
  font-size: smaller;
}

.dataTable {
  border-radius: 5px;
  font-weight: 300;
  font-size: smaller;
  border-collapse: collapse;
  border-radius: .3em;
  overflow: hidden;

}
.dataTable tr {
  background-color: rgb(43, 36, 63);
  display: grid;
  grid-template-columns: 2fr 5fr 3fr 3fr 1fr;
  align-items: center;
  justify-items: start;
  padding: .1em .2em;
  border-bottom: 1px solid black;
}
.dataTable .iconCell {
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: center;
  font-weight: lighter;
  font-size: .85em;
}
.winrate {
  justify-self:end;
}
.dataTable th {
  cursor: pointer;
  width: 100%;
  text-align: start;
}